html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0B0C10;
  /* Color base oscuro cyber-noir */
  color: var(--text-h);
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  /* Eliminamos el text-align: center */
  /* Eliminamos width: 1126px, margin: 0 auto y border-inline */
}